@media (max-width: 1200px){
    /*------------- INICIO -------------*/
    .textoImagenInicio{
        grid-template-areas: 
        "header header header header header header"
        "texto1 texto1 texto1 texto1 imagen1 imagen1"
        "texto2 texto2 texto2 texto2 texto2 texto2"
        "texto3 texto3 texto3 texto3 texto3 texto3";
    }
    .textoImagenInicio p{
        font-size: 25px;
    }
    /*------------- INICIO -------------*/
}

@media (max-width: 992px){


    /*------ HEADER ------*/
    .header{
        background-position: 50% 0%;
    }
    /*------ HEADER ------*/

    /*------------- INICIO -------------*/
    .textoImagenInicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainInicio img{
        width: 90%;
    }

    .textoInicio iframe{
        width: 100%;
    }

    /*------------- INICIO -------------*/


    /*------------- JEFES -------------*/
    .tituloJefes img{
        width: 8%;
    }
    
    .articulosJefes iframe{
        width: 85%;
    }

    /*------------- JEFES -------------*/



    /*--------- HISTORIA ---------*/
    .articuloHistoria h2{
        font-size: 30px;
    }

    .imgHistoria figure{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .imgHistoria figure img{
        width: 90%;
        margin-bottom: 15px;
    }
    /*--------- HISTORIA ---------*/

    /*--------- PRODUCTOS ---------*/
    .asideProductos h2{
        font-size: 20px;
    }

    .listaAsideProductos a{
        font-size: 14px;
    }
    /*--------- PRODUCTOS ---------*/

    /* ----- FOOTER ----- */
    .footerRedes h2{
        font-size: 30px;
        padding: 10px 15px 10px 15px;
    }
    .footerJuegos h2{
        font-size: 25px;
        padding: 10px 15px 10px 15px;
    }
    /* ----- FOOTER ----- */

}


@media (max-width: 768px){

    /*------ HEADER ------*/
    .header{
        background-position: 70% 0%;
    }
    .head img{
        width: 60%;
    }
    /*------ HEADER ------*/

    /*------------- INICIO -------------*/   
    .mainInicio img{
        width: 80%;
    }
    /*------------- INICIO -------------*/

    /*------------- JEFES -------------*/
    .tituloJefes img{
        width: 10%;
    }
    
    .articulosJefes iframe{
        width: 95%;
    }

    /*------------- JEFES -------------*/

    /*--------- HISTORIA ---------*/
    .articuloHistoria h2{
        font-size: 30px;
    }
    .articuloHistoria p{
        text-indent: 5px;
    }
    .imgHistoria figure img{
        width: 100%;
    }
    /*--------- HISTORIA ---------*/
    .mainProductos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .listaAsideProductos{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .asideProductos{
        width: 80%;
        margin-right: 0px;
    }
    
    

    /*--------- PRODUCTOS ---------*/
    .asideProductos h2{
        font-size: 40px;
    }

    .listaAsideProductos a{
        font-size: 30px;
        width: auto;
    }
    /*--------- PRODUCTOS ---------*/


    /* ----- FOOTER ----- */
    .footerContenedor{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 25%;
        grid-template-areas: 
        "footerRedes footerRedes footerJuegos footerJuegos"
        "footerContacto footerContacto footerContacto footerContacto";
    }
    .footerRedes{
        grid-area: footerRedes;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 90%;
        margin-right: 7px;
    }
    .footerJuegos{
        grid-area: footerJuegos;
        display: flex;
        justify-self: center;
        width: 100%;
        margin-left: 7px;
        margin-bottom: 15px;
    }
    .footerJuegos img{  
        width: 60%;
    }
    .footerContacto{
        grid-area: footerContacto;
        display: flex;
        width: 100%;
    }
    /* ----- FOOTER ----- */
}


@media (max-width: 576px){

    /*------------- INICIO -------------*/ 
    .textoImagenInicio h1{
        font-size: 35px;
    }
    /*------------- INICIO -------------*/ 

    /*--------- HISTORIA ---------*/
    .articuloHistoria h2{
        font-size: 25px;
    }
    /*--------- HISTORIA ---------*/

    /*------------- JEFES -------------*/
    .tituloJefes h2{
        font-size: 30px;
    }
    
    .tituloJefes img{
        width: 12%;
    }
    
    .articulosJefes iframe{
        width: 100%;
    }
    /*------------- JEFES -------------*/

    /*--------- PRODUCTOS ---------*/
    .asideProductos h2{
        font-size: 30px;
    }

    .listaAsideProductos a{
        font-size: 20px;
        width: auto;
    }
    /*--------- PRODUCTOS ---------*/


    /* ----- FOOTER ----- */
    .footerContenedor p{
        font-size: 15px;
    }
    .footerRedes{
        width: 90%;
    }
    .footerJuegos{
        width: 90%;
        margin-bottom: 15px;
    }
    /* ----- FOOTER ----- */
}
