*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main, .footer{ 
    display: flex;
    justify-content: center;
    justify-content: center;


    background-image: url(../assets/img/inicio/FondoCiudad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ----------------- INICIO: HEADER ----------------- */
.header{
    background-image: url(../assets/img/header/Banner3.jpg);
    background-size: cover;
    /* background-position: 0% 20%; */
    background-repeat: no-repeat; 

}

.head a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.head img{
    width: 40%;
}
/* ----------------- FINAL: HEADER ----------------- */


/* ----------------- INICIO: NAV ----------------- */
.nav{ 
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.navContenedor{
    width: 80%;
    height: auto;

    background-color: rgb(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 10px;
}

/* ----------------- FINAL: NAV ----------------- */

/* ----------------- INICIO: MAIN ----------------- */
.mainInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    width: 80%;
    height: auto;
}

.textoImagenInicio, .textoInicio{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoInicio iframe{
    width: 80%;
    height: 60vh;
    border-radius: 15px;
}

.textoImagenInicio{
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 20%;
    grid-template-areas: 
    "header header header header header header"
    "texto1 texto1 texto1 texto1 imagen1 imagen1"
    "texto2 texto2 texto2 texto2 imagen1 imagen1"
}

.textoImagenInicio h1{
    grid-area: header;
}

.textoImagenInicio p:nth-child(2){
    grid-area: texto1;
}

.textoImagenInicio p:nth-child(4){
    grid-area: texto2;
}

.mainInicio img{
    grid-area: imagen1;
    width: 85%;
    padding-top: 5px;
    padding-bottom: 5px;

    justify-self: center;
    align-self: center;
}

.mainInicio h1{
    color: azure;
    border-bottom: 2px solid rgb(20, 20, 20);
    margin-bottom: 15px;
    font-size: 50px; 
}

.mainInicio p{
    text-align: justify; 
    
    color: azure;
    font-size: 25px;
    text-indent: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* ----------------- FINAL: MAIN ----------------- */

/* ----------------- INICIO: FOOTER ----------------- */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.footerContenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;
}

.footerRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(75, 75, 75, .6);
}

.footerRedes ul{
    margin: 0px;
    padding: 0px;
}

.footerRedes li{
    list-style:none;
    
    padding: 5px;
    margin-bottom: 5px;
}

.footerRedes h2{
    text-align: center;
    background-color: azure;
    border-radius: 8px;
    margin: 15px 15px 15px 0px;
    padding: 10px 25px 10px 25px;
}

.footerRedes a{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 25%;
    grid-template-areas: 
    "imagenRedes textoRedes textoRedes textoRedes";

    margin: 5px;
    color: black;
    text-decoration: none;
}

.footerRedes p{
    grid-area: textoRedes;
    justify-self: flex-start;
    align-self: center;
    margin: 0px;
    font-size: 20px;
    color: azure;
}

.footerRedes img{
    grid-area: imagenRedes;
    justify-self: flex-end;
    align-self: center;

    width: 45%;
    margin-right: 10px;
}

.footerJuegos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(75, 75, 75, .6);
    
}

.footerJuegos ul{
    margin: 0px;
    padding: 0px;
}

.footerJuegos li{
    list-style:none;
    padding: 5px;
    margin-bottom: 5px;
}

.footerJuegos h2{
    text-align: center;
    border-radius: 8px;
    background-color: azure;
    margin: 15px 15px 15px 0px;
    padding: 10px 25px 10px 25px;
}

.footerJuegos a{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "imagenJuegos  textoJuegos";

    color: black;
    text-decoration: none;
}

.footerJuegos p{
    grid-area: textoJuegos;
    justify-self: flex-start;
    align-self: center;
    font-size: 20px;
    margin: 0px;
    color: azure;
}

.footerJuegos img{
    grid-area: imagenJuegos;
    justify-self: flex-end;
    align-self: center;

    width: 45%;
    margin-right: 10px;
}

.footerContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: rgb(75, 75, 75, .6);
}

.footerContacto h2{
    text-align: center;
    background-color: azure;
    border-radius: 8px;
    margin: 15px 15px 15px 0px;
    padding: 10px 25px 10px 25px;
}

.footerContacto h3{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
    color: azure;
}

.footerContacto ul{
    padding-left: 25px;
}

.footerContacto li{
    text-align: justify;
    margin-bottom: 5px;
    list-style: disc;
    color: azure;
}

.footerContacto div{
    margin-top: 10px;
    margin-bottom: 20px;
}

.footerContacto div button a{
    text-decoration: none;
    color: black;
}

.footerContacto div button{
    padding: 10px;
    border-radius: 10px;
}
/* ----------------- FINAL: FOOTER ----------------- */


/* ----------------- INICIO: HISTORIA ----------------- */
.mainHistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: auto;
}

.articuloHistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(75, 75, 75, .6);
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.articuloHistoria h1{
    color: azure;
    border-bottom: 2px solid rgb(20, 20, 20);
    font-size: 40px;
    margin-bottom: 15px;
}

.articuloHistoria p{
    color: azure;
    text-align: justify;

    line-height: 30px;
    text-indent: 10px;
    font-size: 20px;

    margin-bottom: 15px;
    padding-left: 5px;
}

.imgHistoria figure{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.imgHistoria figure img{
    width: 40%;
    border-radius: 10px;
}

/* ----------------- FINAL: HISTORIA ----------------- */



/* ----------------- INICIO: ESCENARIOS ----------------- */
.mainEscenarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 80%;
}

.mapaEscenarios{
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin-top: 40px;
    margin-right: 10px;

}

.mapaEscenarios img{ 
    width: 100%; 
}

.textoEscenarios{
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;

    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
}

.textoEscenarios h1{
    color: azure;
    font-size: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(20, 20, 20);
}

.textoEscenarios p{
    color: azure;
    text-align: justify;
    text-indent: 10px;
}

.carruselModificado{
    border-radius: 15px;
}

.imgCarruselModificado img{
    border-radius: 30px;
}


/* 
.elipse1{
    position: absolute;
    border: 1px solid blue;
    width: 10%;
    height: 3%;
    border-radius: 50%;

    z-index: 1;
    top: 2.6%;
    left: 10.5%;

}

.elipse2{
    position: absolute;
    border: 1px solid blue;
    width: 10.8%;
    height: 2.2%;
    border-radius: 50%;

    z-index: 1;
    top: 4.5%;
    left: 32.7%;
}

.elipse3{
    position: absolute;
    border: 1px solid blue;
    width: 11.2%;
    height: 3%;
    border-radius: 50%;

    z-index: 1;
    top: 5.9%;
    left: 59.6%;
}

.elipse4{
    position: absolute;
    border: 1px solid blue;
    width: 9.8%;
    height: 2%;
    border-radius: 50%;

    z-index: 1;
    top: 14%;
    left: 79.2%;
}

.elipse5{
    position: absolute;
    border: 1px solid red;
    width: 10%;
    height: 5.5%;
    border-radius: 50%;

    z-index: 1;
    top: 57.7%;
    left: 87.3%;
}

.elipse6{
    position: absolute;
    border: 1px solid red;
    width: 6.5%;
    height: 3.5%;
    border-radius: 50%;

    z-index: 1;
    top: 57.8%;
    left: 73.8%;
}

.elipse7{
    position: absolute;
    border: 1px solid red;
    width: 8.5%;
    height: 5%;
    border-radius: 50%;

    z-index: 1;
    top: 67.2%;
    left: 58.8%;
}

.elipse8{
    position: absolute;
    border: 1px solid red;
    width: 12.5%;
    height: 4%;
    border-radius: 50%;

    z-index: 1;
    top: 89.7%;
    left: 68.8%;
}

.elipse9{
    position: absolute;
    border: 1px solid red;
    width: 9%;
    height: 3.5%;
    border-radius: 50%;

    z-index: 1;
    top: 81.5%;
    left: 72.8%;
}

.elipse10{
    position: absolute;
    border: 1px solid red;
    width: 10.8%;
    height: 7.5%;
    border-radius: 50%;

    z-index: 1;
    top: 85.5%;
    left: 3.5%;
}

.elipse11{
    position: absolute;
    border: 1px solid red;
    width: 9%;
    height: 6.8%;
    border-radius: 50%;

    z-index: 1;
    top: 65.2%;
    left: 36.8%;
}

.elipse12{
    position: absolute;
    border: 1px solid red;
    width: 9%;
    height: 6%;
    border-radius: 50%;

    z-index: 1;
    top: 47.2%;
    left: 24.8%;
}

.elipse13{
    position: absolute;
    border: 1px solid red;
    width: 8.4%;
    height: 5.8%;
    border-radius: 50%;

    z-index: 1;
    top: 51.2%;
    left: 42.4%;
}

.elipse14{
    position: absolute;
    border: 1px solid red;
    width: 6.5%;
    height: 4%;
    border-radius: 50%;

    z-index: 1;
    top: 58.2%;
    left: 57.8%;
}

.elipse15{
    position: absolute;
    border: 1px solid red;
    width: 6%;
    height: 4.1%;
    border-radius: 50%;

    z-index: 1;
    top: 46%;
    left: 58.8%;
}

.elipse16{
    position: absolute;
    border: 1px solid red;
    width: 5.5%;
    height: 4.2%;
    border-radius: 50%;

    z-index: 1;
    top: 40.8%;
    left: 57.5%;
} */

/* ----------------- FINAL: ESCENARIOS ----------------- */


/* ----------------- INICIO: JEFES ----------------- */
.mainJefes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navJefes{
    margin-bottom: 10px;
    padding: 25px;

    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
}

.navJefes a{
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid azure;
    border-radius: 5px;
    background-color: azure;

    list-style: none;
    text-decoration: none;
    color: black;
}

.navJefes a:hover{
    background: #444;
    color: #eee;
}

.articulosJefes{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    
    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
}

.tituloJefes{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(20, 20, 20);
    margin-bottom: 10px;
}

.tituloJefes h1{
    color: azure;
    font-size: 40px;
}

.tituloJefes img{
    width: 5%;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}


.articulosJefes p{
    color: azure;
    text-align: justify;
    text-indent: 10px;
    line-height: 30px;
}

.articulosJefes iframe{
    display: flex;
    justify-content: center;
    
    width: 75%;
    height: 50vh;
    margin: 0px auto;
    border-radius: 15px;
}

/* ----------------- FINAL: JEFES ----------------- */


/* ----------------- INICIO: PRODUCTOS ----------------- */
.mainProductos{
    display: flex;
    justify-content: center;
    width: 80%;
}

.asideProductos{
    width: 20%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
}

.asideProductos h2{
    /* font-weight: 100; */ /* ESPACIO */
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px;
    color: azure;
    border-bottom: 2px solid rgba(225, 225, 225, 0.8);
    text-align: center;
}

.asideProductos ul{
    list-style: none;
}

.asideProductos ul li{
    padding-bottom: 20px;
}

.asideProductos a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;

    background: white;
    color: #444;

    transition: all 300ms;
}


.asideProductos a:hover{
    background: #444;
    color: #eee;
}

.articuloProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 15px;
    background-color: rgb(75, 75, 75, .6);
    box-shadow: 10px 5px 5px black;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 80%;
}

.articuloProductos a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.articuloProductos a:visited {
    color: black,
}

.contenedorProductos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(95, 95, 95);

    margin-bottom: 20px;
    width: 250px;
    height: 220px;
}

.contenedorProductos figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.contenedorProductos figure img{
    width: 75%;
    border-bottom: 2px solid gray;
    padding: 5px;
}

.imgAlterada figure img{
    width: 85%;
}

.imgAlterada div p{
    margin-top: 15px;
}

.contenedorProductos div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------- FINAL: PRODUCTOS ----------------- */
